{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активация аккаунта</title>
</head>
<body>
    {% load account %}
    <h1>{% translate 'Спасибо за регистрацию' %} {{ user.username }}</h1>
    <h3>{% blocktranslate %} Пройдите по <a href="{{ activate_url }}">ссылке</a> для активации {% endblocktranslate %}</h3>
</body>
</html>